*{
   margin: 0; 
}
body{
   margin: 0;
   background-image: url('/img/fondobady.avif');
    background-size: cover; 
    background-repeat: no-repeat; 
   display: flex;
   justify-content: center;
  

}

#contenedor{
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    width: 60%;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(150deg,#9500ff39,rgba(0, 153, 255, 0.223),#00ddff3a);
    margin-top: 30px;
}
header h1 {
    display: flex;
    background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
    background-clip:text ;
    -webkit-background-clip: text;
    color: transparent;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-top: 1%;
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 15%;
    
}


#columnas{
    display: flex;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
picture{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 0;
  
}
picture img{
   height: 100px;
   max-width: 100%;
   border-radius: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    border-top: 3px solid white;
    background-color: rgba(111, 0, 255, 0.189);
}

input,option,select{
    color: blue;
    font-size: 20px;
}
label{
    font-size: 20px;
    margin-right: 1%;
}

button{
    border: 0;
    background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span{
    background: none;
}

button:active{
    transform: scale(0.9);
}
#botoncont{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#callbl{
    display: flex;
}
input{
    width: 150px;
}
section,aside{
    margin: 5%;
   
}
@media screen and (max-width: 850px) {
    #columnas {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section,aside{
        width: 100%;
    }
}

