body{
    background-image: linear-gradient(150deg,#9205f638,rgba(9, 148, 240, 0.422),#06d6f67e);
     font-size: 30px;
     border: 20px solid black;
     border-radius: 50px;
     height: auto;
     width: auto;
     text-align: center;
     align-items: center;
     overflow: auto;
 }

h1{
    background-image: linear-gradient(150deg,#8005d7,#09f,#00DDFF);
    color:white;
    font-size: 70px;
   
}
hr{
border: 4px solid purple;
margin: 0;
}
a {
    max-width: auto;
    min-width: 10%;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px;
    height: auto;
    color: white;
    text-decoration: none;
    background-color: #9500ff; 
    border: 4px solid #8005d7;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    margin-top :4%;
    margin-bottom :4%;
}

a:hover {
    background-color: #09f; 
    transform: scale(1.1);
}
a:active {
    background-color: black;
    transform: scale(0.9);
}
h2{
    background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
    background-clip:text ;
    -webkit-background-clip: text;
    color: transparent;
}
h3{
    background-color: black;
    color: white;
    border-top: 7px solid purple;
    border-bottom: 7px solid purple;
    margin-top :0.4%;
    margin-bottom :0.4%;
}

img{
    border-radius: 30px;
    border:10px solid purple;
}
