body{
    background-image: url('/img/fondo-madera-natural-marron-2048x1365.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Pacifico';
    font-size: 80%;
    
    
}
#contenedor{
    display: flex;
    width: 70%;
 height: auto;
 border-radius: 5px;
 padding: 5px;
 padding-left: 0px;
 position: relative;
}
#contenedor header {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    border-radius: 8px;
    margin-bottom: 20px;
}
#contenedor header h1{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid red;
    width: 100%;
    margin-top: 0;
    font-family: 'Cursive,Pacific';
    color: rgb(8, 8, 234);
}
#adaptar{
    width: 100%;
    padding-right: 20px;
    padding-top:25px ;
    background-color: white;
}
section{
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
input {
    border: 0;
}
button {
    margin-top: 5%;
    background-color: white;
    transition: all 0.3s;
    padding: 5px 10px;
}

button:hover {
    transform: scale(1.05);
    color: blue;
    border: 1px solid blue;
}

button:active {
    background-color: aqua;
    color: white;
    transform: scale(0.95);
}


hr {
    border: 0.5px solid rgba(64, 64, 230, 0.736);
    width: 100%;

}
#resorte{
    height: auto;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}
input {
    color: rgb(82, 80, 80);
    font-family: 'Pacifico';
}
#imagenCambiante{
    height: 90%;
    margin :1%;
    border-radius: 20px;
}
#bordeimagenCambiante{
   
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}

