html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#contenedor {
    color: #fff;
    width: 60%;
    height: auto;
   padding-top: 3%;
    border-radius: 4rem;
    border: 2px solid white;
    position: relative;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(61, 0, 61) 17.8%, rgb(0, 0, 98) 100.2%);
   flex: 1;
   margin-bottom: 10%;
   margin-top: 20%;
  }
  #contenedor::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(50px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;

  }
  header{
    background-color: rgba(123, 0, 255, 0.163);
    width: 100%;
    
  }
  header,h1{
    display: flex;
   align-items: center;
    flex-direction: column;
   margin: 0;
   
  }

  #separar{
    display: flex;
  }
  section{
display: flex;
flex-direction: column;
align-items: center;
  }
  aside{
display: flex;
flex-direction: column;
  }
  footer{
    flex: 0 0 auto;
    height: 10%;
    width: 100%;
    color: white;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(128, 0, 128, 0.232) 17.8%, rgba(0, 0, 255, 0.248) 100.2%);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    box-shadow: 0px 0px 30px 5px rgba(255, 0, 255, 1), 0px 0px 30px 5px rgba(0, 0, 255, 1);


  }
  #separar{
    display: flex;
    
  }
  section{
display: flex;
flex-direction: column;
align-items: center;

  }
  section input{
    height: 75px;
    width: 250px;
    border-radius: 20px;

  }
  aside{
display: flex;
flex-direction: column;
  }

  #derecho{
    width: 40%;
    margin: 5%;
    border: 2px solid white;
    padding: 3%;
    border-radius: 20px;
    background-color: black;
  }
  #izquierdo{
    width: 40%;
    margin: 5%;
    border: 2px solid white;
    padding: 3%;
    border-radius: 20px;
    background-color: black;
  }
  /* Estilo base del botón */
  button{
    border: 0;
    background: linear-gradient(135deg,rgb(233, 97, 233),blue);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 8px;
    animation: gradient 10s linear infinite;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    background-size: 200% 200%;
    
}
button span{
    width: 100%;
    background-color: black;
    padding: 16px 20px;
    border-radius: 6px;
    transition: .2s;
}

button:hover span{
    background: none;
}

button:active{
    transform: scale(0.9);
    background-color: #ab50d1;
}
  
  
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
}
  