body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    margin: 5px;
}
h2{
    text-align: center;
}
#tabla-multiplicar{
    border: 2px solid red;
    box-shadow: 0px 0px 50px red;
    padding: 20px;
}
header{
    text-shadow: 0px 0px 30px red;
    -webkit-text-stroke: 0.3px red;
 
}
select{
    background-color: black;
    color: white;
    border: 2px solid red;
    box-shadow: 0px 0px 20px red;
}

select:hover{
    background-color: red;
}


button {
    padding: 5px 10px;
    height: auto;
    color: white;
    background-color: black; 
    border: 2px solid red;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 5px;
    border-radius: 2px;

}

button:hover {
    background-color: red;
    box-shadow: 0px 0px 20px red;
    transform: scale(1.1);
}
button:active {
    background-color: black;
    transform: scale(0.9);
}